
<div class="modal-content">
  <div class="modal-header text-dark">
    <h5 class="modal-title">¿Seguro desea eliminar el registro?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <form class="spaceEven" method="post" action="{{ path('app_admin_delete_user', {'id': user.id}) }}">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
      <button class="btn btn-danger float-end" type="submit" >
        Si, eliminar
      </button>
      <button type="button" class="btn btn-secondary float-end mr-2" data-bs-dismiss="modal">
        No, cancelar
      </button>
    </form>
  </div>
</div>