{% extends 'admin/bars.html.twig' %}

{% block contenpage %}
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4 style="color:black;">Editar Usuario</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(userForm) }}
                        {{ form_widget(userForm) }}
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-secondary" href="{{ path('app_admin_users') }}">Cancelar</a>
                                <button type="submit" name="valider" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
