
<div class="modal-header">
  <h5 class="modal-title">¿Seguro desea eliminar el registro?</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form method="post" action="{{ path('delete_role', {'id': rol.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rol.id) }}">
    <button class="btn btn-danger float-right" type="submit" >
      Si, eliminar
    </button>
    <button type="button" class="btn btn-secondary float-right mr-2" data-dismiss="modal">
      No, cancelar
    </button>
  </form>
</div>