{% if form is defined and form|length > 0 %}

  <div class="card shadow mb-4">
      <a href="#collapseSearch" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSearch">
          <h6 class="m-0 font-weight-bold text-dark">
            <i class="fa fa-search"></i> &nbsp; Buscar
          </h6>
      </a>
      <div class="collapse" id="collapseSearch">
          <div class="card-body">
              {{ form_start(form, {attr: {"novalidate":"novalidate"}}) }}
                {{ form_widget(form) }}
                <div class="row">
                  <div class="col">
                    <button class="float-right btn btn-sm btn-primary" style="margin-left:15px;">Buscar</button>
                    <a class="btn btn-sm float-right btn-light" href="{{ path('index_roles') }}">Quitar Filtros</a>
                  </div>
                </div>
              {{ form_end(form) }}
          </div>
      </div>
  </div>

{% endif %}
