
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/public/images
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
###> phpstorm project files
/.idea/


# CUSTOM
.env
/public/base/node_modules
/public/base/package-lock.json
composer.lock
/public/base/css/sb-admin-2.css
/public/base/css/sb-admin-2.min.css