
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/public/images
###> liip/imagine-bundle ###
/public/media/cache/
/public/base/node_modules
###< liip/imagine-bundle ###
###> phpstorm project files
/.idea/


# CUSTOM
.env