<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow top-menu-custom">

<!-- Sidebar Toggle (Topbar) -->
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
</button>

<!-- Nombre del Sistema -->
<div class="d-none d-inline-block form-inline mr-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
    <b>{{ site_name }} </b>
</div>

<!-- Topbar Navbar -->
<ul class="navbar-nav ms-auto">

<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow dropstart">
    <a class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" role="button">
        <span class="mr-2 d-lg-inline text-gray-900"><b>{{app.user}}</b></span>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start shadow animated--grow-in"
        aria-labelledby="userDropdown"
        style="margin-top: 5rem;"
    >
        <a class="dropdown-item" href="{{ path('app_admin_changepswd') }}">
            <i class="fa fa-key pull-right mr-2 text-gray-400"></i>
            Cambiar Contraseña
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  data-toggle="modal" data-bs-toggle="modal" data-target="#logoutModal" data-bs-target="#logoutModal" style="cursor: pointer;">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Salir
        </a>
    </div>
</li>

</ul>

</nav>
<!-- End of Topbar -->