{% extends 'security/login.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="login_wrapper">
			<div class="login_form_header">
				<div class="isologotipo">
					<h2>SIDI - TSJ La Rioja</h2>
				</div>
			</div>
		<div class="animate form login_form">
			<section class="login_content">
				<h1 class="recuperar">Se ha enviado un correo electr칩nico que contiene un enlace en el que puede hacer clic para restablecer su contrase침a. Este enlace caducar치 en
					<b>{{ tokenLifetime|date('g') }}
					hour(s).</b></h1>
				<h2 class="sub-recuperar">Si no recibe un correo electr칩nico, consulte su carpeta de correo no deseado o
					<a href="{{ path('app_forgot_password_request') }}"><b>intente nuevamente</b></a>.</h2>

			</section>
		</div>
	</div>
{% endblock %}
