<h1>¡Hola!</h1>

<p>
    Para reiniciar tu password, haz click <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"><b>aquí</b></a>.
    El enlace expirará en: {{ tokenLifetime|date('g') }} hora(s).
</p>

<p>
    Tribunal superior de Justicia - Secretaría de Informática - La Rioja
</p>