<h3>¡Hola!</h3>

<p>
    Si usted ha solicitado restablecer la contraseña de su usuario, siga las instrucciones que se indican abajo.<br>
    En caso de que usted no haya inicio el proceso para restablecer la contraseña no tenga en cuenta lo que se indica en este email.
</p>
<p>
    Para restablecer tu password, haz click <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"><b>aquí</b></a>.<br>
    El enlace expirará en: {{ tokenLifetime|date('g') }} hora(s).
</p>

<p>
    Atentamente<br>
    Área Informática del Tribunal Superior de Justicia<br>
    Provincia de La Rioja
</p>