<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Inicio{% endblock %} | TSJ</title>
        {% block metas %}
            <meta charset="UTF-8">
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body {% block bodyclass %}class="" {% endblock %}>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
