{% extends "admin/bars.html.twig" %}

{% block contenpage %}

 	<div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="title-page">Nueva repartición</h2>
						<a class="btn btn-primary btn-sm float-right" style="margin-right:15px;" href="{{ path('index_reparticion') }}">
							<i class="fa fa-mail-reply"></i> &nbsp; Volver al listado
						</a>
                        <div class="clearfix"></div>
                    </div>
			
                	<div class="card">
                  		<div class="card-body">
                    		{{ include('admin/reparticion/_form.html.twig') }}
                  		</div>
                	</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
