{% extends "base/index.html.twig" %}

{% block headerMain %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-dark"><b>Repartición ID: {{ reparticion.id }}</b></h1>
        <div class="align-items-center justify-content-end">
          {% if is_granted('REPARTICION_EDITAR') %}
            <a href="{{ path('edit_reparticion',{"id":reparticion.id}) }}" class="d-md-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fa fa-edit"></i> &nbsp; Editar
            </a>
          {% endif %}
          <a href="{{ path('index_reparticion') }}" class="d-md-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-reply"></i> &nbsp; Ver el listado
          </a>
        </div>
    </div>
{% endblock %}

{% block rowMain %}

  <div class="col">
    <div class="table-responsive mt-3 pb-3">
      <table class="table">
        <tbody>
          {# Nombre #}
          <tr>
            <th width="150" class="text-end">Nombre:</th>
            <td>{{ reparticion.nombre }}</td>
          </tr>                        
        </tbody>
      </table>
    </div>
  </div>

{% endblock rowMain %}