{% extends "base-error.html.twig" %}

{% block body %}    
    <h1 class="title-error">404</h1>
    <p class="subtitle-error">Upss..</p>        
    <p class="help-error">No se encontró el recurso que buscabas.</p>
{% endblock %}
