{% extends "base-error.html.twig" %}

{% block body %}
    <h1 class="title-error">Error</h1>
    <p class="subtitle-error">Ocurrió un error al cargar la página</p>        
    <p class="help-error">Si usted cree que debería poder acceder a esta sección, por favor comuníquese con el área de informática.</p>
{% endblock %}